/* Color design */
.wi-scolor-bw .header-top {
    background-color: #fff;
    border-top: 2px solid rgb(0, 0, 0);
    border-bottom: 2px solid rgb(0, 0, 0);
}

.wi-scolor-bw .header-top__logo {
    text-decoration: none;
}
.wi-scolor-bw .header-top__logo span {
    color: rgb(0, 0, 0);
}

.wi-scolor-bw .outlined-link {
    text-decoration: none;
    border-color: rgb(0, 0, 0);
}
.wi-scolor-bw .outlined-link:hover {
    text-decoration: none;
    border-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
}

/* .wi-scolor-bw a {
    color: rgb(0, 0, 0);
    text-decoration: none;
} */
.wi-scolor-bw .base-link {
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 0;
}

.wi-scolor-bw .base-link span {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.wi-scolor-bw .base-link.social {
    background: transparent;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 0;
}

.wi-scolor-bw .base-primary-btn {
    background: #fff;
    color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
}
.wi-scolor-bw .header-top__wrap .base-link.outlined-link img {
    filter: invert(1);
}

.wi-scolor-bw .header-navigation {
    background-color: #fff;
    border-top: 2px solid rgb(0, 0, 0);
}

.wi-scolor-bw .header-navigation__item-main {
    background: #fff;
    box-shadow: none;
    border: 2px solid rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 0;
}
.wi-scolor-bw .offer-slide-main__lines {
    background: #fff;
}
.wi-scolor-bw .offer-slide__title span {
    background: #fff;
    border: 2px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    border-radius: 0;
}

.wi-scolor-bw .offer-slide__title {
    background: transparent;
}

.wi-scolor-bw .offer-slide__subtitle {
    color: rgb(0, 0, 0);
}

.wi-scolor-bw .outlined-link.outlined-link_primary:hover {
    color: rgb(0, 0, 0) !important;
}

.wi-scolor-bw .offer-slider .slick-arrow {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.wi-scolor-bw .offer-slider .slick-dots li.slick-active button {
    background: rgb(0, 0, 0);
}

.wi-scolor-bw .offer-slider .slick-dots li button {
    background: rgb(0, 0, 0);
}

.wi-scolor-bw .offer-director {
    background-color: #fff;
    border: 2px solid rgb(0, 0, 0);
}

.wi-scolor-bw .offer-director__text,
.wi-scolor-bw .offer-slide__about {
    color: rgb(0, 0, 0);
}

.wi-scolor-bw .base-section {
    background-color: #fff;
    border: 2px solid rgb(0, 0, 0);
    border-top: none;
}

.wi-scolor-bw .start-section__card {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.wi-scolor-bw .start-section__wrap p {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.wi-scolor-bw .start-section__card::after {
    display: none;
}

.wi-scolor-bw .start-section__card-image {
    background-color: #fff;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 0px;
}

.wi-scolor-bw .news-tabs__item.uk-active a {
    background: rgb(0, 0, 0) !important;
    border: 2px solid rgb(0, 0, 0); 
    text-decoration: none;
    color: #fff !important; 
    border-radius: 0px;
}

.wi-scolor-bw .news-tabs__item a {
    background: #fff;
    border: 2px solid rgb(0, 0, 0); 
    text-decoration: none;
    color: rgb(0, 0, 0); 
    border-radius: 0px;
}

.wi-scolor-bw .news-btn-more img {
    display: none;
}

.wi-scolor-bw .switch-label {
    color: rgb(0, 0, 0); 
}

.wi-scolor-bw input:checked + .slider {
    background: rgb(0, 0, 0);
}

.wi-scolor-bw .slider:before {
    background: #fff;
}

.wi-scolor-bw .news-list__slider {
    background: #fff;
}

.wi-scolor-bw .news-card__image {
    /* background: #000 !important; */
    border: 2px solid rgb(0, 0, 0); 
    border-radius: 0px;
}

.wi-scolor-bw .news-card__content {
    background-color: #fff;
    border: 2px solid rgb(0, 0, 0); 
    border-radius: 0;
}

.wi-scolor-bw .news-card__info-item span:first-child {
    color: rgb(0, 0, 0);
}

.wi-scolor-bw .base-primary-btn_primary {
    background: #000 !important;
    border: 2px solid rgb(0, 0, 0); 
    color: #fff;
    border-radius: 0px;
}

.wi-scolor-bw .info-subscribe {
    background: #fff;
    border: 2px solid rgb(0, 0, 0); 
    border-radius: 0;
}
.wi-scolor-bw .info-subscribe__subtitle {
    color: rgb(0, 0, 0);
}

.wi-scolor-bw .info-subscribe__social-item a {
    text-decoration: none;
}

.wi-scolor-bw .info-subscribe__social-item__image {
    background: #fff;
    border: 2px solid rgb(0, 0, 0); 
}

.wi-scolor-bw .info-subscribe__slide {
    background: #fff;
    border-radius: 0px;
    width: auto !important;
    border: 2px solid rgb(0, 0, 0); 
    border-left: 2px solid rgb(0, 0, 0) !important; 
}

.wi-scolor-bw .info-subscribe__slider .slick-arrow i,
.wi-scolor-bw .info-links .slick-arrow i {
    color: rgb(0, 0, 0); 
}
.wi-scolor-bw .info-subscribe__slider .slick-arrow,
.wi-scolor-bw .info-links .slick-arrow {
    text-decoration: none;
}

.wi-scolor-bw .info-subscribe__slider .slick-dots li.slick-active button,
.wi-scolor-bw .info-links .slick-dots li.slick-active button {
    background: rgb(0, 0, 0);
}

.wi-scolor-bw .info-subscribe__slider .slick-dots li button,
.wi-scolor-bw .info-links .slick-dots li button {
    background: rgb(0, 0, 0);
}

.wi-scolor-bw .info-link {
    background-color: #fff;
    border-radius: 0px;
    border-left: 2px solid rgb(0, 0, 0) !important; 
}

.wi-scolor-bw .info-link__head-href {
    text-decoration: none;
}

.wi-scolor-bw .info-link__head-href img {
    display: none;
}

.wi-scolor-bw .info-link__content-intro-stat p {
    color: rgb(0, 0, 0); 
}

.wi-scolor-bw .info-link__content-intro-stat div:nth-child(2) {
    background: #fff;
    color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0); 
}

.wi-scolor-bw .news-card__date {
    border-radius: 0px;
    border-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
}

.wi-scolor-bw .header-bottom__menubtn img {
    filter: invert(1);
}

.wi-scolor-bw .about-card {
    background-color: #fff;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 0;
}

.wi-scolor-bw .about-card__text {
    color: rgb(0, 0, 0);
}

.wi-scolor-bw .about-card__link a {
    border-radius: 0;
    border: 2px solid rgb(0, 0, 0);
    text-decoration: none;
}
.wi-scolor-bw .about-card__link a:hover {
    border-radius: 0;
    border: 2px solid rgb(0, 0, 0);
    text-decoration: none;
    background-color: #fff;
    color: rgb(0, 0, 0);
}

.wi-scolor-bw .about-card__link_act a {
    border-radius: 0 !important;
    border: 2px solid rgb(0, 0, 0) !important;
    text-decoration: none !important;
    background: rgb(0, 0, 0) !important;
    color: #000 !important;
}

.wi-scolor-bw .about-card__slider .slick-arrow {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.wi-scolor-bw .about-card__slider .slick-dots li.slick-active button {
    background-color: rgb(0, 0, 0);
}

.wi-scolor-bw .about-card__slider .slick-dots li button {
    background-color: rgb(0, 0, 0);
}

.wi-scolor-bw .subscribe-section {
    background-color: #fff;
    border: 2px solid rgb(0, 0, 0);
    border-top: 0;
}

.wi-scolor-bw .subscribe-card {
    background-color: #fff;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 0px;
}

.wi-scolor-bw .subscribe-card__head-href {
    text-decoration: none;
}
.wi-scolor-bw .subscribe-card__head-href img {
    display: none;
}

.wi-scolor-bw .subscribe-card__content p {
    color: rgb(0, 0, 0);
}

.wi-scolor-bw .usefull-base-card {
    background-color: #fff;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 0;
    text-decoration: none;
}
.wi-scolor-bw .usefull-base-card:hover {
    color: rgb(0, 0, 0);
}

.wi-scolor-bw .usefull-middle-card {
    background-color: #fff;
    border-radius: 0;
    border: 2px solid rgb(0, 0, 0);
    text-decoration: none;
}

.wi-scolor-bw .usefull-middle-card__image {
    border-radius: 0;
}

.wi-scolor-bw .usefull-middle-card__image img {
    border-radius: 0;
}

.wi-scolor-bw .usefull-middle-card__content {
    border-radius: 0;
    background-color: #fff;
}

.wi-scolor-bw .usefull-middle-card__link:hover {
    color: rgb(0, 0, 0);
}

.wi-scolor-bw .usefull-middle-card__link img {
    display: none;
}

.wi-scolor-bw .usefull-hard-card {
    background-color: #fff;
    border-radius: 0;
    border: 2px solid rgb(0, 0, 0);
}

.wi-scolor-bw .info-card {
    background: #fff;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 0;
}

.wi-scolor-bw .info-card__title {
    color: rgb(0, 0, 0);
}

.wi-scolor-bw .base-link_white {
    background-color: #fff;
    border: 2px solid rgb(0, 0, 0);
}

.wi-scolor-bw .square-orange-link {
    background-color: #fff;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 0;
}

.wi-scolor-bw .resources-list__item a {
    border-color: rgb(0, 0, 0);
}

.wi-scolor-bw .leftsidebar-wrap {
    background-color: #fff;
    border: 2px solid rgb(0, 0, 0);
}

.wi-scolor-bw .left-sidebar__nav li a {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 0;
}

.wi-scolor-bw .leftsidebar-footer__title {
    color: rgb(0, 0, 0);
}

.wi-scolor-bw .leftsidebar-footer ul li a span {
    color: rgb(0, 0, 0);
}

.wi-scolor-bw .leftsidebar-footer ul li span {
    color: rgb(0, 0, 0);
}

.wi-scolor-bw .left-sidebar__nav li > ul {
    background-color: #fff;
}

.wi-scolor-bw .offer-slide {
    background-color: #fff;
}

.wi-scolor-bw .close-offcanvas {
    background-color: #fff;
    border: 2px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0) !important;
    border-radius: 0;
}

.wi-scolor-bw .left-sidebar__nav li.main-menu__item_withchilds a.has-submenu::after {
    color: rgb(0, 0, 0) !important;
}

.wi-scolor-bw .header-navigation__item a {
    background: #fff;
    border-radius: 0;
    color: rgb(0, 0, 0);
    box-shadow: none;
    border: 2px solid rgb(0, 0, 0);
}

.wi-scolor-bw .breadcrumbs-wrap {
    border: 2px solid rgb(0, 0, 0);
    border-top: none;
}

.wi-scolor-bw .breadcrumbs-wrap .uk-breadcrumb a {
    color: rgb(0, 0, 0);
}

.wi-scolor-bw .uk-breadcrumb>:last-child>a:not([href]), .uk-breadcrumb>:last-child>span {
    color: rgb(0, 0, 0);
}

.wi-scolor-bw .uk-breadcrumb>:nth-child(n+2):not(.uk-first-column)::before {
    color: rgb(0, 0, 0);
}

.wi-scolor-bw .base-input label {
    color: rgb(0, 0, 0);
}

.wi-scolor-bw .base-input input {
    background-color: #fff;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 0;
    color: rgb(0, 0, 0);
}

.wi-scolor-bw .base-checkbox label {
    color: rgb(0, 0, 0);
}

.wi-scolor-bw .base-checkbox .checkmark {
    border: 2px solid rgb(0, 0, 0);
}

.wi-scolor-bw .base-checkbox .container .checkmark:after {
    border-color: rgb(0, 0, 0);
}

.wi-scolor-bw .events-card {
    background-color: #fff;
    border-radius: 0;
    border: 2px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
}
.wi-scolor-bw .events-card__date {
    color: rgb(0, 0, 0);
}

.wi-scolor-bw .events-card__tag {
    color: rgb(0, 0, 0);
}

.wi-scolor-bw .events-card__text {
    color: rgb(0, 0, 0);
}

.wi-scolor-bw .base-pagination {
    background-color: #fff;
}

.wi-scolor-bw .news-list {
    background-color: #fff;
}

.wi-scolor-bw .base-pagination .active > .page-link, .base-pagination .page-link.active {
    background-color: rgb(0, 0, 0);
    color: #000 !important;
    border: 2px solid rgb(0, 0, 0);
}

.wi-scolor-bw .base-pagination ul li a, .base-pagination ul li a {
    border: 2px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
}

.wi-scolor-bw p {
    color: rgb(0, 0, 0);
}

.wi-scolor-bw .newsdetail-block__tag {
    border-radius: 0;
    background: #fff;
    color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
}

.wi-scolor-bw .newsdetail-slider .slick-dots li.slick-active button,
.wi-scolor-bw .newsdetail-slider .slick-dots li button {
    background-color: rgb(0, 0, 0);
}

.wi-scolor-bw .newsdetail-slider .slick-arrow i {
    color: rgb(0, 0, 0);
}

.wi-scolor-bw .download-btn__image {
    background-color: #fff;
    border-radius: 0;
    border: 2px solid rgb(0, 0, 0);
}

.wi-scolor-bw .download-btn__text {
    background-color: #fff;
    border-radius: 0;
    border: 2px solid rgb(0, 0, 0);
    padding-left: 16px;
}

.wi-scolor-bw .download-btn {
    background: #000 !important;
    gap: 0;
}

.wi-scolor-bw .basicinfo-nav__item_act a {
    background: #fff;
    border-radius: 0;
    border: 2px solid rgb(0, 0, 0);
}

.wi-scolor-bw .baseinfo-tag {
    background-color: #fff;
    border-radius: 0;
    border: 2px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
}

.wi-scolor-bw .base-btn.base-btn__ghost,
.wi-scolor-bw .base-btn.base-btn__success,
.wi-scolor-bw .base-btn.base-btn__grey,
.wi-scolor-bw .base-btn.base-btn__danger {
    background-color: #fff;
    border-radius: 0;
    border: 2px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
}

.wi-scolor-bw .basicinfo-list__item span {
    color: rgb(0, 0, 0);
}

.wi-scolor-bw .base-divider {
    background: rgb(0, 0, 0);
}
.wi-scolor-bw .info-subscribe__slide:not(.slick-current)::after {
    display: none;
}
.wi-scolor-bw .about-card__link_act a {
    color: #fff !important;
}
.wi-scolor-bw .start-section__card-image {
    box-shadow: none;
}
.wi-scolor-bw .header-bottom__menubtn img {
    filter: invert(0);
}
.wi-scolor-bw .news-card__content {
    background: #fff;
}
.wi-scolor-bw .news-card__date {
    background-color: #fff;
}
.wi-scolor-bw .base-link.social img,
.wi-scolor-bw .link-icon img,
.wi-scolor-bw .header-navigation__item-main img,
.wi-scolor-bw .start-section__card-image img,
.wi-scolor-bw .news-card__date img,
.wi-scolor-bw .info-subscribe__social-item__image img,
.wi-scolor-bw .usefull-base-card img,
.wi-scolor-bw .info-card__image img,
.wi-scolor-bw .square-orange-link img,
.wi-scolor-bw .header-navigation__item a img,
.wi-scolor-bw .download-btn__image img {
    filter: invert(1);
}

.wi-scolor-bw .download-btn__text span {
    color: #000;
}

.wi-scolor-bw .newsdetail-slider .slick-arrow {
    text-decoration: none !important;
}

.wi-scolor-bw .base-pagination .active > .page-link, .base-pagination .page-link.active {
    color: #fff !important;
}
/* Color end */