.footer {
    padding: 64px 0px;
    background-color: #23272F;
    color: #fff;
    &-meta {
        &__logo {
            font-weight: 700;
            color: #fff;
            margin-bottom: 16px;
            display: block;
            &:hover {
                text-decoration: none;
                color: #fff;
            }
            
        }
        &__rules {
            color: #FFF;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin-bottom: 32px;
        }
        &__personal {
            color: #E65D31;
            font-family: Montserrat;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            &:hover {
                color: #E65D31;
            }
            & span {
                color: #E65D31;
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }
        }
    }
    &-nav {
        display: flex;
        flex-wrap: wrap;
        &__list {
            margin-bottom: 30px;
        }
        &__title {
            font-family: Manrope;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            color: #fff;
            margin-bottom: 12px;
        }
        &__item {
            
            & a {
                font-family: Manrope;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                color: #fff;
                display: flex;
                margin-bottom: 8px;
            }
        }
    }
    & nav .footer-nav {
        display: flex;
        flex-wrap: wrap;
        &__list {
            width: 50%;
        }
    }
}