.offer {
    &-slider {
        & .slick-arrow {
            position: absolute;
            bottom: 82px;
            z-index: 1000;
            color: $primary;
            cursor: pointer;
            display: flex;
            align-items: center;
            &:hover {
                text-decoration: none;
            }
            & i {
                font-size: 45px;
                position: relative;
                z-index: 1000;
            }
        }
        & .btn-prev {
            left: 50%;
            transform: translateX(calc(-50% - 70px)); 
        }
        & .btn-next {
            left: 50%;
            transform: translateX(calc(-50% + 70px)); 
        }
        & .slick-dots {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            bottom: 92px;
            position: absolute;
            z-index: 999;
            display: flex;
            list-style: none;
            gap: 8px;
            align-items: center;
            left: 50%;
            transform: translateX(-50%);
            li {
                margin: 0 0px;
                flex-shrink: 0;
                padding: 0;
                button {
                    padding: 0;
                    overflow: hidden;
                    border: none;
                    outline: none;
                    background: transparent;
                    color: transparent;
                    cursor: pointer;
                    width: 10px;
                    height: 10px;
                    border-radius: 10px;
                    opacity: 0.35;
                    background: var(--dark-lb-9-bfcb, #DFAAD5);
                }
                &.slick-active {
                    button {
                        width: 18px;
                        height: 18px;
                        border-radius: 100%;
                        background-color: $primary;
                        opacity: 1;
                        margin-top: 5px;
                    }
                }
            }
        }
    }
    &-slide {
        background: #F0E1FA;
        padding: 156px 0px;
        position: relative;
        overflow: hidden;
        height: 100%;
        &__bg {
            width: 45%;
        }
        & .uk-container {
            display: flex;
            
        }
        &__content {
            position: relative;
            z-index: 99;
            width: 55%;
        }
        &__title {
            color: #23272F;
            font-family: Manrope;
            font-size: 57px;
            font-style: normal;
            font-weight: 800;
            line-height: 127%;
            text-transform: uppercase;
            margin-bottom: 35px;
            display: flex;
            align-items: center;
            gap: 32px;
            & span {
                background: $gradient-orange;
                padding: 16px 36px;
                border-radius: 16px;
                white-space: nowrap;
                color: #FFF;
            }
        }
        &__subtitle {
            color: $primary;
            font-family: Manrope;
            font-size: 32px;
            font-style: normal;
            font-weight: 800;
            line-height: 127%; /* 40.64px */
            text-transform: uppercase;
            margin-bottom: 32px;
        }
        &__actions {
            display: flex;
            align-items: center;
            gap: 16px;
        }
        &-square {
            background: #FFF;
            position: absolute;
            &:nth-child(1){
                width: 54.206px;
                height: 54.206px;
                transform: rotate(21.306deg);
                flex-shrink: 0;
                border-radius: 8px;
                bottom: 150px;
                right: 830px;
            }
            &:nth-child(2) {
                width: 65.995px;
                height: 65.995px;
                transform: rotate(22.41deg);
                flex-shrink: 0;
                border-radius: 16px;
                right: 710px;
            }
            &:nth-child(3) {
                width: 37.27px;
                height: 37.27px;
                transform: rotate(21.306deg);
                flex-shrink: 0;
                border-radius: 8px;
                right: 50px;
            }
        }
        &-main__square {
            border-radius: 79px;
            background: $gradient-orange;
            width: 775.421px;
            height: 886.646px;
            transform: rotate(22.408deg);
            position: absolute;
            right: 0px;
            top: 205px;
        }
        &-main__lines {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            & img {
                height: 100%;
                width: 100%;
            }
        }
        &-main__bg {
            border-radius: 79px;
            position: absolute;
            right: 0px;
            transform: translateX(-50%);
            bottom: 0;
            width: 600px;
            height: 100%;
            & img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

.offer-slide-additional-second {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
}

.offer-slide__video {
    width: 70%;
    margin-left: 160px;
    position: relative;
    z-index: 99;
    & iframe {
        width: 100%;
        height: 430px;
    }
}

.offer-slide__about {
    color: var(--dark-23272-f, #23272F);
    /* STRONG */
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 64px;
}

.offer-slide-additional-third {
    position: absolute;
    bottom: 0px;
    left: 25%;
}

.offer-director {
    padding: 32px;
    background-color: #fff;
    border-radius: 16px;
    position: relative;
    z-index: 99;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    &__image {
        position: absolute;
        right: 0;
        top: 0;
        transform: translateY(-50%);
        width: 161px;
        height: 161px;
        border-radius: 100%;
        & img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            border-radius: 100%;
        }
    }
    &__title {
        color: var(--dark-23272-f, #23272F);
        /* H3 */
        font-family: Manrope;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 16px;
    }
    &__text {
        color: var(--dark-23272-f, #23272F);
        /* P */
        font-family: Manrope;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 16px;
    }
    &__job {
        text-align: right;
        color: #000;
        /* P */
        font-family: Montserrat;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 8px;
        margin-top: auto;
    }
    &__name {
        text-align: right;
        color: #000;
        /* H4 */
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 125%; /* 22.5px */
    }
}