$primary: #C0448F;
$gradient-orange: linear-gradient(274deg, #9930DF 3.67%, #C0448F 56.86%, #F15C3B 110.04%), linear-gradient(274deg, #FFAE20 3.67%, #FF9820 110.04%);
$gradient-primary: var(--Rad_1, linear-gradient(94deg, #AF5CE6 0%, #C073F3 100%));